@media only screen and (max-width: 1024px) {
    .content {
        display: block;
    }

    .number-one1 {
        display: none;
    }

    .stats-questions {
        display: block;
    }
}
@media only screen and (max-width: 426px) {
    .side-nav {
        display: none;
    }
.logo img {
    display: block;
    margin-left: 0px;
}
.products {
    display: block;
}
.search-bar {
    display: block;
}
.search-bar input {
    width: 31%;
    padding: 3px;
    margin-top: 16px;
}
.inbox{
    display: block;
    margin-top: 17px;
}
.achievements {
    display: block;
}
.help {
    display: block;
}
.list{
    display: block;
}
.container{
    display: block;
}
.main-body{
    display: block;
    padding: 0px;
    margin-left: 0px;
}
.profile-details {
    display: block;
}
.community-sub {
    font-size: 0%;
}
.gold-badges {
    padding: 0px;
    margin-right: 0px;
    border-radius: 0px;
}
.side-table {
    display: block;
    margin-top: 0px;
    margin-right: 0px;
}
.top-post-block {
}
.top-meta-post-block {
}
.top-tags {
    width: 100%;
}
.questions {
    font-size: 11px;
}
.footer-logo i {
    margin-left: 0px;
    margin-right: 0px;
}
.link1 {
    margin-right: 0px;
}
.link1 ul li {
    padding-top: 0px;
}
.footer-description {
    margin-top: 0px;
    margin-left: 0px;
}
}