@media only screen and (max-width: 1432px) {
.badges-block{
    display: block;
}
.gold-badges{
    margin-top: 8px;
}
.date{
    font-size: 11px;
    margin-top: 3px;
} 
}
@media only screen and (max-width: 1423px) {
.questions {
    font-size: 14px;
}
}
@media only screen and (max-width: 1380px) {
.questions{
    font-size: 13px;
}
.gold-badges{
    padding: 7px;
    display: block;
}
.communities {
    padding: 6px;
    
}
@media only screen and (max-width: 1354px) {
.gold-badges {
    padding: 4px;
}
}
@media only screen and (min-width: 1351px) and (max-width: 1305px) {
.top-meta-details {
    margin-left: 9px;
}
}
@media only screen and (max-width: 1350px) {
.communities{
    padding: 6px;
}
}
@media only screen and (max-width: 1344px) {
 .communities{
    padding: 1px;
    margin-left: 0px;
}
}
@media only screen and (max-width: 1339px) {
.communities{
    padding: 4px;
}
}
@media only screen and (max-width: 1320px) {
.communities{
    padding: 3px;
}
}
@media only screen and (max-width: 1320px) {
.side-table {
    padding: 3px;
}
}

