<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Stack Overflow</title>
        <link href="css/index.css" type="text/css" rel="stylesheet" />
        <script src="javascript/js.js"></script>
    </head>
    <body>
        <div class="header">
            <div class="stack">
                <img src="image/logo5.png" alt="stackpage" class="imgstack" />
            </div>
            <div class="about">
                About
            </div>
            <div class="products">
                Products
            </div>
            <div class="teams">
                For Teams
            </div>
            <div class="search">
                <div class="searchicon">
                    <form>
                        <div class="glass">
                            <input type="text" class="searchbar" placeholder="user:217408" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="login">
                <button class="log">
                    <span class="Logbutton">
                        Log in
                    </span>
                </button>
            </div>
            <div class="signup">
                <button class="sign">
                    <span class="Signbutton">
                        Sign up
                    </span>
                </button>
            </div>
            <div class="clear"></div>
        </div>
        <div class="main">
            <div class="left">
                <div class="home">
                    Home
                </div>
                <div class="public">
                    PUBLIC
                </div>
                <div class="question"><i class="fa-solid fa-earth-americas"></i>&nbsp; Questions</div>
                <div class="tags">
                    Tags
                </div>
                <div class="users">
                    Users
                </div>
                <div class="collectives">COLLECTIVES<i class="fa-solid fa-circle-exclamation"></i></div>
                <div class="explore"><i class="fa-solid fa-sun"></i>&nbsp; Explore Collectives</div>
                <div class="job">
                    FIND A JOB
                </div>
                <div class="jobs">
                    Jobs
                </div>
                <div class="company">
                    Companies
                </div>
                <div class="teams1">
                    TEAMS
                </div>
                <div class="clear1"></div>
                <div class="content">
                    <span class="bold">Stack Overflow for Teams</span> – Collaborate and share knowledge with a private group
                    <img src="image/promonew1.png" alt="picture" class="picture" />
                    <div class="free">
                        <button class="freeone">
                            <span class="freetwo">
                                Create a free Team
                            </span>
                        </button>
                    </div>
                    <div class="below-team">
                        What is Teams?
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="man-img">
                    <img src="image/mann.jpg" alt="manimage" class="imagenew" />
                </div>
                <div class="details">
                    <span class="name">
                        Günter Zöchbauer
                    </span>
                    
                    <div class="education">
                        BSc.
                    </div>
                    <div class="member"><i class="fa-solid fa-cake-candles"></i>&nbsp; Member for 12 years,</div>
                    <br />
                    <div class="twiter"><i class="fa-brands fa-twitter"></i>&nbsp;</div>
                    <div class="git"><i class="fa-brands fa-github"></i>&nbsp;</div>
                    <div class="location"><i class="fa-solid fa-location-dot"></i>&nbsp; Linz, Austria</div>
                </div>
                
                <div class="clear4"></div>
                <div class="left1">
                    <div class="left-new">
                        <button class="profile">
                            <span class="profile2">
                                Profile
                            </span>
                        </button>
                        <span class="activity">
                            Activity
                        </span>
                    </div>
                    <div class="clear3"></div>
                    <div class="clear2"></div>
                    <div class="totaltotal">
                        <span class="stats1">Stats</span>
                        <div class="total">
                            <div class="totalleft">
                                <div class="stats">
                                    545,342
                                </div>
                                <div class="reputation">
                                    reputation
                                </div>
                                <div class="number">
                                    9,317
                                </div>
                                <div class="answers">
                                    answers
                                </div>
                            </div>
                            <div class="totalright">
                                <div class="newnumber">
                                    74.8m
                                </div>
                                <div class="reached">
                                    reached
                                </div>
                                <div class="nine">
                                    93
                                </div>
                                <div class="questionsnew">
                                    questions
                                </div>
                            </div>
                            <div class="clear4"></div>
                            <i class="fa-solid fa-trophy"></i>
                            <div class="cup">
                                top <span class="numbold">0.01%</span>
                                this quarter
                            </div>
                            <div class="clear5"></div>
                        </div>
                        <div class="communitynew">
                            <span class="comuny">
                                Communities
                            </span>
                            <span class="viewall">
                                View all
                                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                            </span>
                        </div>
                        <div class="Communitiesall">
                            <div class="Communitiesall-left">
                                <div class="stackstack">
                                    <i class="fa-brands fa-stack-overflow"></i>
                                    Stack overflow
                                </div>
                                <div class="super">
                                    <i class="fa-regular fa-message"></i>>
                                    Super User
                                </div>
                                <div class="meta">
                                    <i class="fa-regular fa-message"></i>
                                    Meta Stack Exchange
                                </div>
                                <div class="Area">
                                    <i class="fa-solid fa-note-sticky"></i>
                                    Area 51
                                </div>
                                <div class="finance">
                                    <i class="fa-solid fa-coins"></i>
                                    Personal Finance & Money
                                </div>
                            </div>
                            <div class="Communitiesall-right">
                                <div class="fivty">
                                    545.8k
                                </div>
                                <div class="six">
                                    692
                                </div>
                                <div class="one">
                                    51
                                </div>
                                <div class="onefour34">
                                    143
                                </div>
                                <div class="onefour44">
                                    103
                                </div>
                            </div>
                        </div>
                        <div class="clearpath"></div>
                    </div>
                    <div class="abouttotal">
                        <div class="about1">
                            About
                        </div>
                        <div class="google">Google+ Profil: <a href="#">https://twitter.com/gzoechi</a></div>
                        <ul>
                            <li>I'm an enthusiastic and experienced</li>
                            <ul>
                                <li>I'm an enthusiastic and experienced</li>
                                <li>software engineer</li>
                                <li>sortware architect</li>
                                <li>developer</li>
                                <li>consultant</li>
                                <li>looking for clients/projects</li>
                                <ul>
                                    <li>I focus on custom line of business applications with Dart, Flutter, Angular (mobile, browser, server)</li>
                                </ul>
                            </ul>
                        </ul>
			<button class="read">Read more
			</button>
                        <div class="badges">
                            <div class="Badgesnew">
                                Badges
                            </div>
                            <div class="badges1">
                                
                                <img src="image/goldensnip.png" class="goldsnip">
                                <span class="eightfive">
                                    185
                                </span>
                                <br />
                                <span class="gold">
                                    gold badges
                                </span>
				<div class="clear">
				</div>

                                <div class="newbutton">
                                    <button class="angular">
                                        <i class="fa-solid fa-circle"></i>
                                        <span class="ang2">
                                            angular2-routing
                                        </span>
                                    </button>
                                    <div class="june1">
                                        Jun 7
                                    </div>
                                </div>
                                <div class="newbutton">
                                    <button class="angular">
                                        <i class="fa-solid fa-circle"></i>
                                        <span class="ang2">
                                            angular2-routing
                                        </span>
                                    </button>
                                    <div class="june1">
                                        Jun 7
                                    </div>
                                </div>
                                <div class="newbutton">
                                    <button class="angular">
                                        <i class="fa-solid fa-circle"></i>
                                        <span class="ang2">
                                            angular2-routing
                                        </span>
                                    </button>
                                    <div class="june1">
                                        Jun 7
                                    </div>
                                </div>
                                <div class="clearjune"></div>
                            </div>
                            <div class="badges2">
                                <img src="image/silversnip.png" class="silvsnip">
                               
                                <span class="seven">
                                    1877
                                </span>
                                <br />
                                <span class="silver">
                                    silver badges
                                </span>
                                <div class="newbutton1">
                                    <button class="dart">
                                        <i class="fa-solid fa-circle"></i>
                                        <span class="ang2">
                                            dart-polymer
                                        </span>
                                    </button>
                                    <span class="june">
                                        July 7
                                    </span>
                                </div>
                                <div class="newbutton1">
                                    <button class="dart">
                                        <i class="fa-solid fa-circle"></i>
                                        <span class="ang2">
                                            dart-polymer
                                        </span>
                                    </button>
                                    <span class="june">
                                        July 7
                                    </span>
                                </div>
                                <div class="newbutton1">
                                    <button class="dart">
                                        <i class="fa-solid fa-circle"></i>
                                        <span class="ang2">
                                            dart-polymer
                                        </span>
                                    </button>
                                    <span class="june">
                                        July 7
                                    </span>
                                </div>
                            </div>
                            <div class="badges3">
                                <img src="image/bronzsnip.png" class="snipbronz">
                                <span class="onefour">
                                    1467
                                </span>
                                <br />
                                <span class="bronze">
                                    bronze badges
                                </span>
                                <div class="newbutton2">
                                    <button class="pipe">
                                        <i class="fa-solid fa-circle"></i>
                                        <span class="ang2">
                                            angular2-pipe
                                        </span>
                                    </button>
                                    <span class="june">
                                        apr 7
                                    </span>
                                </div>
                                <div class="newbutton2">
                                    <button class="pipe">
                                        <i class="fa-solid fa-circle"></i>
                                        <span class="ang2">
                                            angular2-pipe
                                        </span>
                                    </button>
                                    <span class="june">
                                        Jun 7
                                    </span>
                                </div>
                                <div class="newbutton2">
                                    <button class="pipe">
                                        <i class="fa-solid fa-circle"></i>
                                        <span class="ang2">
                                            angular2-pipe
                                        </span>
                                    </button>
                                    <span class="june">
                                        sep 7
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="clear0"></div>
                        <span class="Top">
                            Top tags
                        </span>
			           <span class="view-all2">View all tags</span>
				
                        <div class="toptag">
                            <div class="newtag">
                                <div class="newbutton3">
                                   
                                        <span class="ang2">
                                            angular
                                        </span>
                                  
                                    <i class="fa-solid fa-circle"></i>
                                    <span class="numberall5">
                                        58,934score&nbsp;&nbsp;
                                    </span>
                                    <span class="numberall6">
                                        58,934score&nbsp;&nbsp;
                                    </span>
                                    <span class="numberall7">
                                        58,934score
                                    </span>
                                </div>
                                <div class="newbutton3">
                                    
                                        <span class="ang2">
                                            dart
                                        </span>
                                    
                                    <i class="fa-solid fa-circle"></i>
                                    <span class="numberall8">
                                        58,934score&nbsp;&nbsp;
                                    </span>
                                    <span class="numberall9">
                                        58,934score&nbsp;&nbsp;
                                    </span>
                                    <span class="numberall10">
                                        58,934score
                                    </span>
                                </div>
                                <div class="newbutton3">
                                    
                                        <span class="ang2">
                                            typescript
                                        </span>
                                    
                                    <i class="fa-solid fa-circle"></i>
                                    <span class="numberall88">
                                        58,934score&nbsp;&nbsp;
                                    </span>
                                    <span class="numberall99">
                                        58,934score&nbsp;&nbsp;
                                    </span>
                                    <span class="numberall10">
                                        58,934score
                                    </span>
                                </div>
                                <div class="newbutton3">
                                    
                                        <span class="ang2">
                                            flutter
                                        </span>
                                    
                                    <i class="fa-solid fa-circle"></i>
                                    <span class="numberall55">
                                        58,934score&nbsp;&nbsp;
                                    </span>
                                    <span class="numberall23">
                                        58,934score&nbsp;&nbsp;
                                    </span>
                                    <span class="numberall73">
                                        58,934score
                                    </span>
                                </div>
				<div class="newbutton3">
                                    
                                        <span class="ang2">
                                            angular2-routing
                                        </span>
                                    
                                    <i class="fa-solid fa-circle"></i>
                                    <span class="numberall22">&nbsp;&nbsp;
                                        58,934score
                                    </span>
                                    <span class="numberall21">
                                        58,934score&nbsp;&nbsp;
                                    </span>
                                    <span class="numberall20">
                                        58,934score
                                    </span>
                                </div>
                                <div class="newbutton3">
                                    
                                        <span class="ang2">
                                            javascript
                                        </span>
                                    
                                    <i class="fa-solid fa-circle"></i>
                                    <span class="numberall86">&nbsp;&nbsp;
                                        58,934score
                                    </span>
                                    <span class="numberall96">
                                        58,934score&nbsp;&nbsp;
                                    </span>
                                    <span class="numberall14">
                                        58,934score
                                    </span>
                                </div>
                            </div>
                            <div class="maindiv">
                                    <div class="top1">
                                        Top posts
                                    </div>
                                    <div class="view">View all <span class="all1" >questions, answers,</span> and <span class="all1">articles</span></div>
                                    <div class="sidebar">
                                        <span class="all" id="a1">all</span>
                                        <span class="all">question</span>
                                        <span class="all">answer</span>
                                        <span class="all">articles</span>
                                        <span class="all" id="a2">Score</span>
                                        <span class="all">newest</span>
                                    </div>
                           </div>
                           <div class="button-clear2"></div>
                             </div>
			     <div class="top-post-block">
                                <div class="layer top-layer">
                                    <i class="fa-solid fa-message"></i>
                                    <span class="year">
                                        1985
                                    </span>
                                    <span class="questions">
                                        What is the difference between Promises and Observables?
                                    </span>
                                    <span class="date">
                                        Mar 13,2017
                                    </span>
                                </div>
                                <div class="layer top-layer">
                                    <i class="fa-solid fa-message"></i>
                                    <span class="year">
                                        1163
                                    </span>
                                    <span class="questions">How can I select an element in a component template?</span>
                                    <span class="date">
                                        Feb 13,2017
                                    </span>
                                </div>
                                <div class="layer top-layer">
                                    <i class="fa-solid fa-message"></i>
                                    <span class="year">1145</span>
                                    <span class="questions">What is the equivalent of ngShow and ngHide in Angular 2+?</span>
                                    <span class="date"> Mar 13,2017</span>
                                </div>
                                <div class="layer top-layer">
                                    <i class="fa-solid fa-message"></i>
                                    <span class="year">
                                        883
                                    </span>
                                    <span class="questions">
                                        Binding select element to object in Angular
                                    </span>
                                    <span class="date"> Oct 24,2019</span>
                                </div>
                                <div class="layer top-layer">
                                    <i class="fa-solid fa-message"></i>
                                    <span class="year">
                                        823
                                    </span>
                                    <span class="questions">
                                        *ngIf and *ngFor on same element causing error
                                    </span>
                                    <span class="date">
                                        Mar 13,2017
                                    </span>
                                </div>
                                <div class="layer top-layer">
                                    <i class="fa-solid fa-message"></i>
                                    <span class="year">
                                        725
                                    </span>
                                    <span class="questions">
                                        How to add conditional attribute in Angular 2?
                                    </span>
                                    <span class="date">
                                        Mar 13,2017
                                    </span>
                                </div>
                                <div class="layer top-layer">
                                    <i class="fa-solid fa-message"></i>
                                    <span class="year">
                                        1985
                                    </span>
                                    <span class="questions">
                                        What is the difference between Promises and Observables?
                                    </span>
                                    <span class="date"> Mar 13,2017</span>
                                </div>
                                <div class="layer top-layer">
                                    <i class="fa-solid fa-message"></i>
                                    <span class="year">
                                        602
                                    </span>
                                    <span class="questions">
                                        What is the difference between declarations, providers, and import in NgModule?
                                    </span>
                                    <span class="date">
                                        Jul 13,2017
                                    </span>
                                </div>
                                <div class="layer top-layer">
                                    <i class="fa-solid fa-message"></i>
                                    <span class="year">
                                        1985
                                    </span>
                                    <span class="questions">
                                        What is the difference between Promises and Observables?
                                    </span>
                                    <span class="date">
                                        Jun 15,2018
                                    </span>
                                </div>
                                <div class="layer top-layer">
                                    <i class="fa-solid fa-message"></i>
                                    <span class="year">
                                        591
                                    </span>
                                    <span class="questions">
                                        How to pass query parameters with a routerLink
                                    </span>
                                    <span class="date">
                                        May 23,2019
                                    </span>
                                </div>
                            </div>
                            <div class="top-meta-posts">
                                <span class="heading">
                                    Top Meta Posts
                                </span>
                                <span class="right-side"> <i class="fa-regular fa-message" id="meta-post1"></i><sub>7</sub> <i class="fa-regular fa-message" id="meta-post2"></i><sub>0</sub> </span>
                                <div class="clear"></div>
                            </div>
                            <div class="top-meta-post-block">
                                <div class="layer">
                                    <i class="fa-brands fa-stack-overflow"></i>
                                    <span class="number two-digit">
                                        98
                                    </span>
                                    <span class="top-meta-details">
					Code snippets are Pest
				    </span>
                                </div>
                                <div class="layer">
                                    <i class="fa-brands fa-stack-overflow"></i>
                                    <span class="number">
                                        9
                                    </span>
                                    <span class="top-meta-details">
					Search always switches to "relevance" tab
				    </span>
                                </div>
                                <div class="layer">
                                    <i class="fa-brands fa-stack-overflow"></i>
                                    <span class="number">
                                        6
                                    </span>
                                    <span class="top-meta-details">
                                        Layout issue in tags filter field in new UI
                                    </span>
                                </div>
                                <div class="layer">
                                    <i class="fa-brands fa-stack-overflow"></i>
                                    <span class="number">3</span>
                                    <span class="top-meta-details">
                                        Find questions that are marked as duplicate
                                    </span>
                                </div>
                                <div class="layer">
                                    <i class="fa-brands fa-stack-overflow"></i>
                                    <span class="number">
                                        3
                                    </span>
                                    <span class="top-meta-details">
                                        Lots of problems with the editing filter area
                                    </span>
                                </div>
                            </div>
                            <div class="top-network-posts">
                                <span class="heading">Top network post</span>
                                <span class="side-title">
					View all network post
				</span>
                            </div>
                            <div class="top-meta-post-block">
                                <div class="layer">
				    <i class="fa-solid fa-circle-dot"></i>
                                    <span class="number two-digit">
                                        56
                                    </span>
                                    <span class="top-meta-details">
                                        How to make a symlinked folder appear as a normal folder
                                    </span>
                                </div>
                                <div class="layer">
				    <i class="fa-solid fa-comment-dots"></i>
                                    <span class="number">
                                        5
                                    </span>
                                    <span class="top-meta-details">
                                        How can I export transactions from GnuCash including references to associated files
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="footer-logo">
                <i class="fa-brands fa-stack-overflow"></i>
            </div>
            <div class="link1">
                <ul>
                    <li class="footer-title"><b>STACK OVERFLOW</b></li>
                    <li>Questions</li>
                    <li>Jobs</li>
                    <li>Developer job directory</li>
                    <li>help</li>
                </ul>
            </div>
            <div class="link1">
                <ul>
                    <li class="footer-title"><b>PRODUCTS</b></li>
                    <li>Teams</li>
                    <li>Talents</li>
                    <li>Advertising</li>
                    <li>enterprise</li>
                </ul>
            </div>
            <div class="link1">
                <ul>
                    <li class="footer-title"><b> COMPANY</b></li>
                    <li>About</li>
                    <li>Press</li>
                    <li>Work Here</li>
                    <li>Legal</li>
                    <li>Privacy Policy</li>
                    <li>Terms of Service</li>
                    <li>Contact Us</li>
                    <li>Cookie Settings</li>
                    <li>Cookie Policy</li>
                </ul>
            </div>
            <div class="link1">
                <ul>
                    <li class="footer-title"><b>STACK EXCHANGE NETWORK</b></li>
                    <li>Technology</li>
                    <li>Culture and recreation</li>
                    <li>lifes & arts</li>
                    <li>Science</li>
                    <li>Professional</li>
                    <li>Business</li>
                    <li>API</li>
                    <li>Data</li>
                </ul>
            </div>
            <div>
                <div class="link2">
                    <ul>
                        <li>Blog</li>
                        <li>Facebook</li>
                        <li>twitter</li>
                        <li>LinkedIn</li>
                        <li>Instagram</li>
                    </ul>
                </div>
                <div class="footer-description">
                    site design / logo © 2022 Stack Exchange Inc; user contributions<br />
                    licensed under cc by-sa. rev 2022.3.18.41718
                </div>
            </div>
        </footer>
    </body>
</html>
